* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.link_button {
  text-decoration: none;
}

.home {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.paper {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin: 1rem;
  background-color: orange;
}

.form {
  width: 100%;
  margin-top: 1rem;
}

.card_container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload_Img {
  height: 10rem;
  width: 10rem;
  border-radius: 25%;
}

.modal_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-conatainer {
  width: 45rem;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Styling the Alert */

.alert {
  /* width: 15rem; */
  padding: .1rem;
  margin-top: .3rem;
  border-radius: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  /* position: absolute;
  top: 1rem; */
}

.success {
  background-color: rgb(88, 146, 88);
}

.danger {
  background-color: rgb(180, 96, 96);
  
}

.profileImg {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  border-radius: 5rem;
}